name: Docker Build & Push

on:
  push:
    tags:
      - "*"
  schedule:
    - cron: "30 10 * * *"
  workflow_dispatch:
    inputs:
      force:
        description: Build the image even if it already exists
        required: false
        default: false
        type: boolean

jobs:
  initialize:
    runs-on: ubuntu-latest
    outputs:
      TARGET_IMAGE_TAG: ${{ steps.get_tag.outputs.tag }}
      QBITTORRENT_VERSION: ${{ steps.get_tag.outputs.tag }}

    steps:
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get latest GHCR tag
        id: get_tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        run: |
          set -e

          JSON=$(curl -s \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            "https://api.github.com/users/11notes/packages/container/qbittorrent/versions?per_page=100")

          TAG=$(echo "$JSON" \
            | jq -r '.[].metadata.container.tags[]' \
            | grep -E '^[0-9]+\.[0-9]+\.[0-9]+$' \
            | sort -V \
            | tail -n 1)

          if [ -z "$TAG" ]; then
            echo "ERROR: No valid tag found!"
            exit 1
          fi

          echo "Found TAG=$TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

  build:
    needs: initialize
    uses: aszili/github-actions/.github/workflows/build-docker-image.yml@main
    with:
      target_tag: ${{ needs.initialize.outputs.TARGET_IMAGE_TAG }}
      build_args: QBITTORRENT_VERSION=${{ needs.initialize.outputs.QBITTORRENT_VERSION }}
      force: ${{ contains(inputs.force, 'true') }}